<div class="card" >
  <div class="card-body">
    <h5 class="card-title">Funcionarios do Cargo: {{id_cargo}}</h5>
    <button routerLink="/funcionario/lista" class="btn btn-danger" >Controle de Funcionários</button>
   <div style="height: 300px; overflow: auto;">
    <table class="table">
      <thead>
        <tr >
          <th scope="col">RA do funcionario</th>
          <th scope="col">Nome do funcionario</th>
          <th scope="col">Cidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let funcionario of funcionarios">
          <th scope="row">{{funcionario.id_func}}</th>
          <td>{{funcionario.func_nome}}</td>
          <td>{{funcionario.func_cidade}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>

