
/* BOTÃO */

.custom-btn {
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-2 {
  background: #673ab7;
  background: linear-gradient(0deg, #673ab7 0%, rgba(129,5,240,1) 100%);
  border: none;

}
.btn-2:before {
  height: 0%;
  width: 2px;
}
.btn-2:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* TAMANHO DA LETRA NO TÍTULO */

.letraTit{
  font-size: 30px;
  font-weight: 500;
}
