<h5 class="card-title text-center mt-5 letraTit">Cadastro de Novo Funcionário</h5>
<div class="card w-50 mt-5">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label class="form-label letraPar">Nome do Funcionário</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.func_nome" name="func_nome">
      </div>

      <div class="mb-3">
        <label class="form-label letraPar">Cidade do Funcionário</label>
        <input type="text" class="form-control" [(ngModel)]="funcionario.func_cidade" name="func_cidade">
      </div>
      <button mat-raised-button color="primary" (click)="cadastrarFuncionario()">Cadastrar</button>
      <button mat-raised-button color="primary" routerLink="/funcionario" title="Voltar" class="mx-3">Voltar</button>
    </form>

  </div>
</div>
