<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-raised-button color="primary"><span routerLink="/cargo" class="">Cargos</span></button>
    <span class="mx-2"></span>
    <button mat-raised-button color="primary"><span routerLink="/mentores">Mentor</span></button>
    <span class="mx-2"></span>
    <button mat-raised-button color="primary"><span routerLink="/funcionario">Funcionário</span></button>
    <span class="mx-2"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>



