.custom-btn {
  width: 150px;
  height: 40px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-2 {
background: #673ab7;
background: linear-gradient(0deg, #673ab7 0%, rgba(129,5,240,1) 100%);
border: none;

}
.btn-2:before {
height: 0%;
width: 2px;
}
.btn-2:hover {
box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
            -4px -4px 6px 0 rgba(116, 125, 136, .5),
  inset -4px -4px 6px 0 rgba(255,255,255,.2),
  inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/* TAMANHO DAS LETRAS DO TÃTULO */

.letraTit{
  font-size: 30px;
  font-weight: 500;
}

/* CARDS */

.card {
  width: 220px;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f3;
  border-radius: 12px;
  box-shadow: inset 5px 5px 3px #a9a9aa,
               inset -5px -5px 3px #ffffff;
 }

 .card .img {
  height: 100px;
  margin-top: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  box-shadow: inset 5px 5px 3px #a9a9aa,
               inset -5px -5px 3px #ffffff;
 }


 .card .info {
  text-align: center;
  margin-top: .3em;
  background: linear-gradient(120deg, rgb(174, 96, 247) 0%,  #673ab7 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

 .card .info > span {
  font-weight: bold;
  font-size: 1.2em;
 }

 .card .info p {
  margin-top: .3em;
 }

 .card a {
  margin-top: 2rem;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg,  #673ab7 0%, rgb(174, 96, 247) 100%);
  padding: .5em 2em;
  border-radius: 50px;
 }

 .card a:active {
  box-shadow: inset 3px 3px 3px #673ab7,
              inset -3px -3px 3px rgb(174, 96, 247);
}

/* ICONES DOS CARDS */

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

